<section class="hero-pattern bg-white md:py-8 py-4">
    <div class="px-4 mx-auto text-center md:max-w-screen-md lg:w-full bg-white">
        <span class="font-semibold text-gray-400 uppercase">Didukung oleh</span>
        <div class="flex flex-wrap justify-center items-center mt-8 text-gray-500 sm:justify-between">
            <a href="https://dikbud.tangerangselatankota.go.id/" target="_blank" rel="noopener noreferrer"
                class="mr-5 mb-5 lg:mb-0 hover:text-gray-800">
                <img src="../assets/logo_dikbud.png" class="h-20" alt="Dikbud Tangerang Selatan" />
            </a>
            <a href="https://diskominfo.tangerangselatankota.go.id/" target="_blank" rel="noopener noreferrer"
                class="mb-5 lg:mb-0 hover:text-gray-800">
                <img src="../assets/logo_diskominfo.png" class="h-24" alt="Diskominfo Tangerang Selatan" />
            </a>
        </div>
    </div>
</section>