<section class="w-full bg-white">
    <div class="bg-white w-full">
        <div class=" w-full grid gap-8 mb-4 sm:grid-cols-12">
            <div class="md:col-start-3 md:col-span-8 px-4">
                <div class="w-full">
                    <h1 class="text-center text-4xl font-extrabold tracking-tight leading-none text-black md:text-5xl lg:text-6xl">Tutorial Pendaftaran PPDB</h1>
                    <p class="md:pb-16 pb-8 text-center text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                        Tutorial Peserta Didik Baru (PPDB) Jenjang SMP </p>
                    <div class="relative w-full h-0 pt-[60.25%]">
                        <iframe class="absolute top-0 left-0 w-full h-full rounded-lg" [src]="safePanduan"
                            allow="accelerometer; autoplay" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>