<section class="hero-utama-pattern bg-white pt-14 md:pt-24">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center md:py-28 md:px-8">
        <a routerLink="/regulasi-ppdb"
            class="cursor-pointer inline-flex justify-between items-center py-1 px-1 pr-4 mb-10 text-sm text-gray-700 bg-gray-100 rounded-full hover:bg-gray-200">
            <span class="text-xs bg-primary-bg rounded-full text-white px-4 py-1.5 mr-3">Baru</span> <span
                class="text-sm font-medium">Tiba saatnya untuk PPDB! Mari kita lihat alur baru yang telah
                disiapkan</span>
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-primary-txt md:text-5xl lg:text-6xl">
            Penerimaan Peserta Didik Baru Kota Tangerang Selatan</h1>
        <p class="mb-12 text-lg font-normal text-primary-txt lg:text-xl sm:px-16 xl:px-48">Proses Penerimaan Peserta
            Didik
            Baru (PPDB), tahapan penting bagi sekolah dalam menyeleksi calon siswa yang berkualitas untuk bergabung
            dalam lingkungan pendidikan yang berintegritas dan berkualitas.</p>
    </div>
</section>