<div class="fixed inset-0 z-50 flex justify-center items-center">
    <div class="relative p-4 w-full max-w-md">
        <!-- Modal content -->
        <div class="relative p-4 text-center bg-white rounded-lg shadow sm:p-5">
            <div class="w-24 h-24 rounded-full p-2 flex items-center justify-center mx-auto mb-3.5">


                <ng-container *ngIf="respon.mode == 'success'">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48"
                        aria-hidden="true">
                        <circle class="circle-success" fill="#5bb543" cx="24" cy="24" r="22" />
                        <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17" />
                    </svg>
                </ng-container>

                <ng-container *ngIf="respon.mode == 'error'">
                    <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48"
                        aria-hidden="true">
                        <circle class="circle-failed" fill="#5bb543" cx="24" cy="24" r="22" />
                        <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" d="M14 14l20 20m0-20L14 34" />
                    </svg>
                </ng-container>
                <span class="sr-only">Success</span>
            </div>
            <p class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">{{respon.pesan}}</p>
        </div>
    </div>
</div>